# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.env

# LlamaIndex
data/VectorStoreIndex/RAG/

data/docs/
data/slides/
data/uploaded_pitchdecks/

# Streamlit
.streamlit/secrets.toml

# Jupyter/Colab
.ipynb_checkpoints/

# DS structure
.DS_Store